# These requirements are needed in order to run the initial fabric script.
# We also add very useful packages for effective development here.

# =============
# For debugging
# =============
ipython
ipdb

# ===================
# For task automation
# ===================
fabric
watchdog

# =============================
# For testing and code checking
# =============================
django-extensions
flake8
coverage
django-coverage
django-nose
factory_boy
