{% extends "base.html" %}
{% load i18n %}

{% block main %}
<header>
    <h1>{% trans "Password reset" %}</h1>
</header>
<section>
    <p>{% trans "Enter your e-mail address below, and we will send instructions for setting a new one." %}</p>
    <form action="." method="post">
        {% csrf_token %}
        {% include "partials/form_non_field_errors.html" %}
        {% for field in form %}
            {% include "partials/form_field.html" %}
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="{% trans "Reset password" %}" />
    </form>
</section>
{% endblock %}
