{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block main %}
<header>
    <h1>{% trans "Password change" %}</h1>
</header>
<section>
    <p>{% trans "Please enter your old password, then enter your new password twice." %}</p>
    <form method="post" action=".">
        {% csrf_token %}
        {% include "partials/form_non_field_errors.html" %}
        {% for field in form %}
            {% include "partials/form_field.html" %}
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
    </form>
</section>
{% endblock %}
