{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block main %}
{% if validlink %}
    <header>
        <h1>{% trans "Enter new password" %}</h1>
    </header>
    <section>
        <p>{% trans "Please enter your new password twice." %}</p>
        <form method="post" action=".">
            {% csrf_token %}
            {% include "partials/form_non_field_errors.html" %}
            {% for field in form %}
                {% include "partials/form_field.html" %}
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="{% trans 'Change password' %}">
        </form>
    <section>
{% else %}
    <header>
        <h2>{% trans "Error resetting password" %}</h2>
    </header>
    <section>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
    </section>
{% endif %}
{% endblock %}
