{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block main %}
<header>
    <h1>{% trans "Registration" %}</h1>
</header>
<section id="main">
    <form method="post" action=".">
        {% csrf_token %}
        {% include "partials/form_non_field_errors.html" %}
        {% for field in form %}
            {% include "partials/form_field.html" %}
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="{% trans "Register now" %}">
    </form>
</section>
{% endblock %}
